body {
}
.x-grid-row-collapsed .x-grid-cell
{
    background-color: #44AABB !important;
}
.x-grid-row-collapsedGreen .x-grid-cell
{
    background-color: #88FF55 !important;
}
.x-grid-row-important .x-grid-cell
{
    background-color: #E3170D !important;
}
 