<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <!--<WEBSERVICE_URL>http://172.16.12.213/MENSWEBSERVICE/Service.asmx</WEBSERVICE_URL>-->
  <WEBSERVICE_URL>http://192.168.1.137:8018/MilianService/Service.asmx</WEBSERVICE_URL>
  <WEBSERVICE_NAMESPACE></WEBSERVICE_NAMESPACE>
  <WEBSERVICE_CLASSNAME>Service</WEBSERVICE_CLASSNAME>
</Config>
